/* VARIABLES */

/*--------------------------------------------------------*/
/* ETIQUETAS */
body { 
  margin: 0; 
  font-family: Arial, sans-serif; 
}

header, 
footer, 
aside, 
main { 
  padding: 10px; 
}

main { 
  height: 45%;
}

header { 
  background-color: #3d0074; 
  color: white; 
}

footer { 
  background-color: #3d0074; 
  color: white; 
  padding-top: 20px; 
}
/*-----------------------------------------------*/
  /* CLASES */

.descuentos { 
  background-color: #e5d7f3; 
  border-radius: 10px; 
  text-align: center; 
  padding: 10px; 
  margin-bottom: 10px; }

.categoria-btns .btn { 
  width: 100%; 
  margin: 5px 0; }

.footer-section { 
  margin-bottom: 20px; }

.footer-section h5 { 
  border-bottom: 1px solid white; 
  padding-bottom: 5px; }

.social-icons i { 
  font-size: 1.5rem; 
  margin: 0 10px; }

.suscribe input, 
.suscribe select, 
.suscribe button { 
  margin: 5px 0; }

.carousel-inner img { 
  width: 100%; 
  height: auto; }

.design-img-carr {
  margin: 10px ; 
  border: 2px solid #080a0e;}

.social-icons i {
  font-size: 24px;
  margin: 0 10px;}

.construction-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;}

.construction-section img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border: 2px solid #6c757d;
    border-radius: 10px;}

/*-------------------------------------------*/
/* RESPONSIVE */
/* punto hasta 992px */


